/* Entire page background */
body {
  background-color: #deecf8; 
  color: #000000;            /* text color */
  margin: 0;                  /* remove default browser spacing */
  padding: 0;
}

/* Optional: make header, nav, footer transparent so body color shows through */
.header, footer {
  color: #8ebce5;
  background-color: transparent; /* or inherit */
}

/* --- Global / Reset --- */

html, body {
height: 100%;
margin: 0;
font-family: Arial, sans-serif;
font-size: 20px;
}

body {
display: flex;
flex-direction: column;
}

body *:not(.header h1) {
    font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  gap: 20px; /* space between links */
}

/* Navigation Button */
.nav-button {
  color: #8ebce5;          /* link color */
  font-size: 18px;          /* text size */
  font-weight: bold;        /* make it bold */
  text-decoration: underline; /* add underline */
  padding: 8px 0; /* vertical padding, no horizontal padding */
}

.nav-button:hover {
  color: #3692e2;
  text-decoration: underline; /* keep underline on hover */
}

/* In-link to navigation bar */
.inline-link:hover {
  color: #3692e2;
  text-decoration: underline;
}

.inline-link {
  color: #8ebce5;           /* default color */
  text-decoration: none;  /* no underline by default */
}

/* --- Mobile Friendly --- */

.header, .footer, .content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* --- Header Design --- */

.header {
text-align: left;
display: block;
padding-top: 30px;
padding-bottom: 20px;
padding-left: 15px;
padding-right: 15px;
}

.header h1 {
margin: 0; /* remove default spacing */
}

/* --- Footer Design --- */

.footer {
text-align: center;
display: block;
padding-top: 30px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
}


/* --- Centered Layout --- */

.content {
text-align: left;
flex: 1; /* added for sticky footer */
display: block;
padding-bottom: 60px; /* always space before footer */
}

.content img {
max-width: 100%;
height: auto;
display: block;
}

/* --- Breadcrumb Navigation --- */

.breadcrumb {
font-size: 14px;
margin: 20px 0;
}

.breadcrumb a {
text-decoration: none;
color: #555;
}

.breadcrumb a:hover {
text-decoration: underline;
}

.breadcrumb span {
margin: 0 5px;
color: #888;
}

.breadcrumb .current {
font-weight: bold;
color: #000;
}

/* H1 Spacing */
.content h1 {
margin-top: 60px;
margin-bottom: 30px;
}

/* H2 Spacing */
.content h2 {
margin-top: 60px;
margin-bottom: 30px;
}

/* H3 Spacing*/
.content h3 {
margin-top: 30px;
margin-bottom: 30px;
}

/* Breadcrumb spacing */
.breadcrumb {
margin-bottom: 60px;
}

/* emogis inside the following container: <div class="emoji-section"> </div> */
.emoji-section p {
  margin: 0; /* removes spacing between paragraphs (I have set a spacing for p) only inside this container */
  padding: 0;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }